<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="https://sandbox.simplepay.hu/pay/support/favicon.ico">
    <title>Cart</title>
</head>
<body>
<main>
    <h1>Cart</h1>
    <form method="post" action="/start-payment.php">
        <ul>
            <li>Product 1</li>
            <li>Product 2</li>
        </ul>
        {# @todo Send items #}
        {# @todo Send shipping #}
        {# @todo Timeout configuration #}
        {# @todo Language configuration #}
        {# @todo Currency configuration #}
        <div>
            <input type="submit" value="Start payment"/>
        </div>
    </form>
</main>
</body>
</html>
