<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="https://sandbox.simplepay.hu/pay/support/favicon.ico">
    <title>Return response</title>
</head>
<body>
<main>
    <h1>Back response</h1>
    <section>
        <h2>backResponseJson</h2>
        <pre><code>{{ backResponseJson }}</code></pre>
    </section>
    <section>
        <h2>logEntriesJson</h2>
        <pre><code>{{ logEntriesJson }}</code></pre>
    </section>
</main>
{% include 'footer.html.twig' %}
</body>
</html>
